<a href="https://colab.research.google.com/github/Santiagolc17/Examen1/blob/main/Examen1_CarlosSantiagoLamasCamacho.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Importamos las librerías pandas. numpy y matplotlib que nos serviran para poder hacer las operaciones y comandos necesarios más adelante
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Cargar archivo csv desde equipo, en este caso vamos a cargar nuestros 4 docuemntos a analizar 
from google.colab import files
files.upload()

In [5]:
#Carga desde un archivo .xlsx sin  indice para que nos nos estorbe a la hora de limpiar el archivo
Micro_Retailer=pd.read_excel('microretailer_mit_lift_lab.xlsx')

In [6]:
#Carga desde un archivo .xlsx sin  indice para que nos nos estorbe a la hora de limpiar el archivo
consumer_mit_lift_lab=pd.read_excel('consumer_mit_lift_lab.xlsx')

In [7]:
#Carga desde un archivo .xlsx sin  indice para que nos nos estorbe a la hora de limpiar el archivo
lastmile_delivery_operations_mit_lift_lab_serving_customer=pd.read_csv('lastmile_delivery_operations_mit_lift_lab_serving_customer.csv')

In [8]:
#Carga desde un archivo .xlsx sin  indice para que nos nos estorbe a la hora de limpiar el archivo
lastmile_delivery_operations_mit_lift_lab=pd.read_csv('lastmile_delivery_operations_mit_lift_lab.csv')

In [ ]:
#Identificar valores nulos por columna donde nos damos cuenta que existen varias columnas con valores nulos
valores_nulos_Micro_Retailer=Micro_Retailer.isnull().sum()
valores_nulos_Micro_Retailer

**Microretailer - Usando Bfill para valores nulos y outlier con cuantiles**

In [ ]:
#Remplazamos valores nulos del dataframe con Bfill, es decir los valores nulos serán remplazados por los valores de la ila anterior, de esa forma dejaremos de tener valores nulos
Micro_Retailer_Sin_Valores_Nulos=Micro_Retailer.fillna(method="bfill")
Micro_Retailer_Sin_Valores_Nulos

In [ ]:
#Identificar valores nulos por columna para ver como se hacen 0 all ya haber sido remplzados
Micro_Retailer_Sin_Valores_Nulos2=Micro_Retailer_Sin_Valores_Nulos.isnull().sum()
Micro_Retailer_Sin_Valores_Nulos2

In [ ]:
#Filtro por columnas para seelccionar unicamente las columnas con valores numéricos y así poder calcular sus outliers
filtro_sin_columnas_innecesarias=Micro_Retailer_Sin_Valores_Nulos.iloc[ : , [5,6,13,14,16,21,22,31,42,49,51,59,29,33,78,90]]
filtro_sin_columnas_innecesarias

In [ ]:
#Aplicamos el método de cuartiles para seleccionar outliers y posteriormente poder transformalos en valores nulos
#Método aplicando cuartiles. Encuentro cuartiles 0.25 y 0.75
y=filtro_sin_columnas_innecesarias

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr=percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido" , Limite_Superior_iqr)
print("Limite inferior permitido" , Limite_Inferior_iqr)

In [ ]:
#Encontramos los outliers de cada una de las columnas numéricas
outliers_iqr=y[(y>Limite_Superior_iqr) | (y<Limite_Inferior_iqr)]
outliers_iqr

In [ ]:
#Encontramos datos limpios del dataframe 
Micro_Retailer_Sin_Valores_Nulos3=y[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
Micro_Retailer_Sin_Valores_Nulos3

In [ ]:
#Corroboramos valores nulos y nos damos cuenta que nuevamente tenemos valores nulos por los outliers transformados que debremos llenar con algun método de valores nulos
valores_nulos=y.isnull().sum()
valores_nulos

In [ ]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
Micro_Retailer_Sin_Valores_Nulos_Numéricos=y.copy()
Micro_Retailer_Sin_Valores_Nulos_Numéricos=y.fillna(round(Micro_Retailer_Sin_Valores_Nulos_Numéricos.mean(),1))
Micro_Retailer_Sin_Valores_Nulos_Numéricos

In [ ]:
#Corroboramos valores nulos donde vemos que ya todas las columnas numéricas nos dan 0
valores_nulos=Micro_Retailer_Sin_Valores_Nulos_Numéricos.isnull().sum()
valores_nulos

In [ ]:
#Filtro por columnas para seleccionar del primer dataframe sin nulos las columnas con objetos y así poder unirlas con el numérico
Micro_Retailer_con_texto=Micro_Retailer_Sin_Valores_Nulos.iloc[ : , [0,1,2,3,4,7,8,9,10,11,12,15,17,18,19,20,23,24,25,26,27,28,30,32,34,35,36,37,38,39,40,41,43,44,45,46,47,48,50,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,79,80,81,82,83,84,85,86,87,88,89,91,92,93,94,95,96,97,98,99,100,101,102,103,104]]
Micro_Retailer_con_texto

In [ ]:
#unimos la columnas numéricas con las de texto

Datos_completos= pd.concat([Micro_Retailer_con_texto, Micro_Retailer_Sin_Valores_Nulos_Numéricos], axis=1)
Datos_completos

In [ ]:
#Corroboramos valores nulos que nuevamente da 0
valores_nulos=Datos_completos.isnull().sum()
valores_nulos

In [68]:
#Convertir a Csv
Datos_completos.to_csv("Datos_completos.csv")

In [71]:
#Descargar archivo filtrado en csv
from google.colab import files
files.download("Datos_completos.csv")

In [ ]:
#Ahora vamos a repetir este mismito proceso de limpieza con los otros 3 archivos

**Consumer - Usando Bfill para valores nulos y outlier con cuantiles**

In [ ]:
#Identificar valores nulos por columna donde nos damos cuenta que existen varias columnas con valores nulos
valores_nulos_Consumer=consumer_mit_lift_lab.isnull().sum()
valores_nulos_Consumer

In [ ]:
#Remplazamos valores nulos del dataframe con Ffill, es decir los valores nulos serán remplazados por los valores de la ila anterior, de esa forma dejaremos de tener valores nulos
Consumer_Sin_Nulos=consumer_mit_lift_lab.fillna(method="ffill")
Consumer_Sin_Nulos

In [ ]:
#Identificar valores nulos por columna para ver como se hacen 0 all ya haber sido remplzados
Consumer_Sin_Nulos2=Consumer_Sin_Nulos.isnull().sum()
Consumer_Sin_Nulos2

In [ ]:
#Filtro por columnas para seelccionar unicamente las columnas con valores numéricos y así poder calcular sus outliers
Consumer_Sin_Nulos_Numéricos=Consumer_Sin_Nulos.iloc[ : , [5,6,12,26,27,28,29,30,31]]
Consumer_Sin_Nulos_Numéricos

In [ ]:
#Aplicamos el método de cuartiles para seleccionar outliers y posteriormente poder transformalos en valores nulos
#Método aplicando cuartiles. Encuentro cuartiles 0.25 y 0.75
y=Consumer_Sin_Nulos_Numéricos

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr=percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido" , Limite_Superior_iqr)
print("Limite inferior permitido" , Limite_Inferior_iqr)

In [ ]:
#Encontramos los outliers de cada una de las columnas numéricas
outliers_iqr_Consumer=y[(y>Limite_Superior_iqr) | (y<Limite_Inferior_iqr)]
outliers_iqr_Consumer

In [ ]:
#Encontramos datos limpios del dataframe 
Consumer_Sin_Nulos3=y[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
Consumer_Sin_Nulos3

In [ ]:
#Corroboramos valores nulos y nos damos cuenta que nuevamente tenemos valores nulos por los outliers transformados que debremos llenar con algun método de valores nulos
valores_nulos=y.isnull().sum()
valores_nulos

In [ ]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
Consumer_Sin_Nulos_Numéricos2=y.copy()
Consumer_Sin_Nulos_Numéricos2=y.fillna(round(Consumer_Sin_Nulos_Numéricos2.mean(),1))
Consumer_Sin_Nulos_Numéricos2

In [ ]:
#Corroboramos valores nulos donde vemos que ya todas las columnas numéricas nos dan 0
valores_nulos=Consumer_Sin_Nulos_Numéricos2.isnull().sum()
valores_nulos

In [ ]:
#Filtro por columnas para seleccionar del primer dataframe sin nulos las columnas con objetos y así poder unirlas con el numérico
Consumer_con_texto=Consumer_Sin_Nulos.iloc[ : , [0,1,2,3,4,7,8,9,10,11,13,14,15,16,17,18,19,20,21,22,23,24,25,32,33,34,35]]
Consumer_con_texto

In [ ]:
#unimos la columnas numéricas con las de texto

Datos_completos_Consumer= pd.concat([Consumer_con_texto, Consumer_Sin_Nulos_Numéricos2], axis=1)
Datos_completos_Consumer

In [ ]:
#Corroboramos valores nulos que nuevamente da 0
valores_nulos_Consumer=Datos_completos_Consumer.isnull().sum()
valores_nulos_Consumer

In [73]:
#Convertir a Csv
Datos_completos_Consumer.to_csv("Datos_completos_Consumer.csv")

In [ ]:
#Descargar archivo filtrado en csv
from google.colab import files
files.download("Datos_completos_Consumer.csv")

In [ ]:
#Ahora vamos a repetir este mismito proceso de limpieza con los otros 2 archivos CSV

**Lastmile - Usando Bfill para valores nulos y outlier con cuantiles**

In [ ]:
#Identificar valores nulos por columna donde nos damos cuenta que existen varias columnas con valores nulos
valores_nulos_Lastmile=lastmile_delivery_operations_mit_lift_lab.isnull().sum()
valores_nulos_Lastmile

In [ ]:
#Remplazamos valores nulos del dataframe con Bfill, es decir los valores nulos serán remplazados por los valores de la ila anterior, de esa forma dejaremos de tener valores nulos
Lastmile_Sin_Nulos=lastmile_delivery_operations_mit_lift_lab.fillna(method="bfill")
Lastmile_Sin_Nulos

In [ ]:
#Identificar valores nulos por columna para ver como se hacen 0 all ya haber sido remplzados
Lastmile_Sin_Nulos2=Lastmile_Sin_Nulos.isnull().sum()
Lastmile_Sin_Nulos2

In [ ]:
#Filtro por columnas para seelccionar unicamente las columnas con valores numéricos y así poder calcular sus outliers
Lastmile_Sin_Nulos_Numéricos=Lastmile_Sin_Nulos.iloc[ : , [5,6,12,21,22,28]]
Lastmile_Sin_Nulos_Numéricos

In [ ]:
#Aplicamos el método de cuartiles para seleccionar outliers y posteriormente poder transformalos en valores nulos
#Método aplicando cuartiles. Encuentro cuartiles 0.25 y 0.75
y=Lastmile_Sin_Nulos_Numéricos

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr=percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido" , Limite_Superior_iqr)
print("Limite inferior permitido" , Limite_Inferior_iqr)

In [ ]:
#Encontramos los outliers de cada una de las columnas numéricas
outliers_iqr_Lastmile=y[(y>Limite_Superior_iqr) | (y<Limite_Inferior_iqr)]
outliers_iqr_Lastmile

In [ ]:
#Encontramos datos limpios del dataframe 
Lastmile_Sin_Nulos3=y[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
Lastmile_Sin_Nulos3

In [ ]:
#Corroboramos valores nulos y nos damos cuenta que nuevamente tenemos valores nulos por los outliers transformados que debremos llenar con algun método de valores nulos
valores_nulos=y.isnull().sum()
valores_nulos

In [ ]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
Lastmile_Sin_Nulos_Numéricos2=y.copy()
Lastmile_Sin_Nulos_Numéricos2=y.fillna(round(Lastmile_Sin_Nulos_Numéricos2.mean(),1))
Lastmile_Sin_Nulos_Numéricos2

In [ ]:
#Corroboramos valores nulos donde vemos que ya todas las columnas numéricas nos dan 0
valores_nulos=Lastmile_Sin_Nulos_Numéricos2.isnull().sum()
valores_nulos

In [ ]:
#Filtro por columnas para seleccionar del primer dataframe sin nulos las columnas con objetos y así poder unirlas con el numérico
Lastmile_con_texto=Lastmile_Sin_Nulos.iloc[ : , [0,1,2,3,4,7,8,9,10,11,13,14,15,16,17,18,19,20,23,24,25,26,27]]
Lastmile_con_texto

In [ ]:
#unimos la columnas numéricas con las de texto

Datos_completos_Lastmile= pd.concat([Lastmile_con_texto, Lastmile_Sin_Nulos_Numéricos2], axis=1)
Datos_completos_Lastmile

In [ ]:
#Corroboramos valores nulos que nuevamente da 0
valores_nulos_Lastmile=Datos_completos_Lastmile.isnull().sum()
valores_nulos_Lastmile

In [54]:
#Convertir a Csv
Datos_completos_Lastmile.to_csv("Datos_completos_Lastmile.csv")

In [55]:
#Descargar archivo filtrado en csv
from google.colab import files
files.download("Datos_completos_Lastmile.csv")

**Costumer - Usando Ffill para valores nulos y outlier con cuantiles**

In [62]:
#Identificar valores nulos por columna donde nos damos cuenta que existen varias columnas con valores nulos
valores_nulos_Costumer=lastmile_delivery_operations_mit_lift_lab_serving_customer.isnull().sum()
valores_nulos_Costumer

_child_record_id                           0
_record_id                                 0
_parent_id                                 0
_title                                     0
_version                                   0
_created_at                                0
_updated_at                                0
_created_by                                0
_updated_by                                0
_index                                     0
_geometry                                  0
_latitude                                  0
_longitude                                 0
_changeset_id                              0
_created_duration                          0
_updated_duration                          0
_edited_duration                           0
name_of_the_store                          0
entering_the_store                         0
number_of_customers_in_store               0
number_of_suppliers_in_store               0
picture_cargo_being_delivered             10
picture_cargo_being_delivered_captions    33
picture_cargo_being_delivered_urls        10
number_of_cases_boxes_delivered            0
trolley_in_use                             0
leaving_the_store                          0
dtype: int64

In [63]:
#Remplazamos valores nulos del dataframe con Ffill, es decir los valores nulos serán remplazados por los valores de la ila anterior, de esa forma dejaremos de tener valores nulos
Costumer_Sin_Nulos=consumer_mit_lift_lab.fillna(method="ffill")
Costumer_Sin_Nulos

,_record_id,_title,_server_updated_at,_updated_by,_geometry,_latitude,_longitude,282_payment_method_that_purchase,283_fulfill_needs,300_did_not_find,...,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee,240_gender_interviewee,indicate_the_type_of_store,name_of_the_store,storefront_picture_just_once_if_possible
0,060a856c-e3b8-41a7-b680-9756172d1c29,"November 12, 2022",2022-11-12 22:43:08 UTC,Ulises Núñez Bautista,SRID=4326;POINT(-98.2349802856 19.0598413203),19.059841,-98.234980,Efectivo,no,agua de coco,...,1,0,0,0,0,35,Male,Cafeteria,Paleteria El Carmen,NaN
1,c42fdf22-b93b-443e-8f46-6043613cb0c3,"November 12, 2022",2022-11-12 22:15:02 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2335660729 19.05847939),19.058479,-98.233566,Efectivo,yes,agua de coco,...,1,2,0,35,50,27,Female,Grocery store (aka. nanostore),Gerardo Saénz,NaN
2,3ccaedc0-949e-4555-afad-b2e1d77c3219,"November 12, 2022",2022-11-12 22:15:02 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2303385023 19.0620767997),19.062077,-98.230339,Efectivo,yes,agua de coco,...,0,0,0,40,25,42,Female,Micro-restaurant (aka. fondita),Rozt,1 Photo
3,91d8a240-af2c-451b-900f-3480f82e05db,"November 12, 2022",2022-11-12 20:41:38 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.2329163449 19.0555346049),19.055535,-98.232916,Tarjeta de débito y/o crédito,yes,agua de coco,...,2,3,0,0,0,27,Female,Cafeteria,Café Colibrí,1 Photo
4,3efefc56-bd45-4e4a-bf02-ab725e9fb41a,"November 12, 2022",2022-11-12 19:49:13 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.2329944224 19.0590117522),19.059012,-98.232994,Efectivo,yes,agua de coco,...,2,5,0,0,50,35,Female,Cafeteria,La fête,1 Photo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,ee7ac407-4767-47b1-93b3-d7e09b49faec,"November 3, 2022",2022-11-03 20:15:32 UTC,Daniel Serrano,SRID=4326;POINT(-98.2671002671 19.0352236761),19.035224,-98.267100,Efectivo,yes,Ablandador de agujas,...,15,10,0,100,100,15,Male,Micro-restaurant (aka. fondita),Taquería don Jorge,1 Photo
111,f65a8190-df80-440e-83bc-2639decfffd0,"November 3, 2022",2022-11-03 20:05:31 UTC,Daniel Serrano,SRID=4326;POINT(-98.2678556442 19.0352804088),19.035280,-98.267856,Efectivo,yes,Ablandador de agujas,...,1,1,0,50,70,21,Female,Cafeteria,La parrilla del lobo,1 Photo
112,70f42238-83b5-4a16-9f2e-a758efb8afb0,"November 3, 2022",2022-11-03 20:04:35 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678617 19.0354511),19.035451,-98.267862,Efectivo,yes,Ablandador de agujas,...,3,2,0,0,0,18,Male,Cafeteria,La Parrilla del lobo,1 Photo
113,e4727f46-797f-4344-b183-0deeed11750f,"November 3, 2022",2022-11-03 20:04:34 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678314 19.0354858),19.035486,-98.267831,Efectivo,yes,Ablandador de agujas,...,2,4,0,30,100,18,Male,Cafeteria,Crudopolis,1 Photo
114,0a5616e1-62cd-4f28-a282-9b34db145752,"November 3, 2022",2022-11-03 19:58:24 UTC,Daniel Serrano,SRID=4326;POINT(-98.2679243758 19.0353989453),19.035399,-98.267924,Efectivo,yes,Ablandador de agujas,...,0,3,0,150,1000,18,Male,Cafeteria,Crudopolis,1 Photo

In [98]:
#Identificar valores nulos por columna para ver como se hacen 0 all ya haber sido remplzados
Costumer_Sin_Nulos2=lastmile_delivery_operations_mit_lift_lab_serving_customer.isnull().sum()
Costumer_Sin_Nulos2

_child_record_id                           0
_record_id                                 0
_parent_id                                 0
_title                                     0
_version                                   0
_created_at                                0
_updated_at                                0
_created_by                                0
_updated_by                                0
_index                                     0
_geometry                                  0
_latitude                                  0
_longitude                                 0
_changeset_id                              0
_created_duration                          0
_updated_duration                          0
_edited_duration                           0
name_of_the_store                          0
entering_the_store                         0
number_of_customers_in_store               0
number_of_suppliers_in_store               0
picture_cargo_being_delivered             10
picture_cargo_being_delivered_captions    33
picture_cargo_being_delivered_urls        10
number_of_cases_boxes_delivered            0
trolley_in_use                             0
leaving_the_store                          0
dtype: int64

In [97]:
#Filtro por columnas para seelccionar unicamente las columnas con valores numéricos y así poder calcular sus outliers
Costumer_Sin_Nulos_Numéricos=Costumer_Sin_Nulos.iloc[ : , [5,6,12,26,27,28,29,30,31]]
Costumer_Sin_Nulos_Numéricos

,_latitude,_longitude,238_frequency_buying_store,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee
0,19.059841,-98.234980,1,1,0,0,0,0,35
1,19.058479,-98.233566,1,1,2,0,35,50,27
2,19.062077,-98.230339,1,0,0,0,40,25,42
3,19.055535,-98.232916,1,2,3,0,0,0,27
4,19.059012,-98.232994,1,2,5,0,0,50,35
...,...,...,...,...,...,...,...,...,...
110,19.035224,-98.267100,1,15,10,0,100,100,15
111,19.035280,-98.267856,1,1,1,0,50,70,21
112,19.035451,-98.267862,1,3,2,0,0,0,18
113,19.035486,-98.267831,1,2,4,0,30,100,18
114,19.035399,-98.267924,1,0,3,0,150,1000,18

In [99]:
#Aplicamos el método de cuartiles para seleccionar outliers y posteriormente poder transformalos en valores nulos
#Método aplicando cuartiles. Encuentro cuartiles 0.25 y 0.75
y=Costumer_Sin_Nulos_Numéricos

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr=percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido" , Limite_Superior_iqr)
print("Limite inferior permitido" , Limite_Inferior_iqr)

Limite superior permitido _latitude                               19.137956
_longitude                             -98.025979
238_frequency_buying_store               6.000000
81_number_online_purchases_month         6.000000
288_number_app_purchases_month          12.500000
289_number_whatsapp_purchases_month      2.500000
83_willingness_ultrafast_delivery      102.500000
84_willingness_sameday_delivery        231.250000
241_age_of_the_interviewee              65.000000
dtype: float64
Limite inferior permitido _latitude                               18.959124
_longitude                             -98.402770
238_frequency_buying_store              -2.000000
81_number_online_purchases_month        -2.000000
288_number_app_purchases_month          -7.500000
289_number_whatsapp_purchases_month     -1.500000
83_willingness_ultrafast_delivery      -37.500000
84_willingness_sameday_delivery       -118.750000
241_age_of_the_interviewee              -7.000000
dtype: float64

In [100]:
#Encontramos los outliers de cada una de las columnas numéricas
outliers_iqr_Costumer=y[(y>Limite_Superior_iqr) | (y<Limite_Inferior_iqr)]
outliers_iqr_Costumer

,_latitude,_longitude,238_frequency_buying_store,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
110,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN
111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,NaN,NaN,NaN,NaN,NaN,NaN,150.0,1000.0,NaN

In [101]:
#Encontramos datos limpios del dataframe 
Costumer_Sin_Nulos3=y[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
Costumer_Sin_Nulos3

,_latitude,_longitude,238_frequency_buying_store,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee
0,19.059841,-98.234980,1.0,1.0,0.0,0.0,0.0,0.0,35.0
1,19.058479,-98.233566,1.0,1.0,2.0,0.0,35.0,50.0,27.0
2,19.062077,-98.230339,1.0,0.0,0.0,0.0,40.0,25.0,42.0
3,19.055535,-98.232916,1.0,2.0,3.0,0.0,0.0,0.0,27.0
4,19.059012,-98.232994,1.0,2.0,5.0,0.0,0.0,50.0,35.0
...,...,...,...,...,...,...,...,...,...
110,19.035224,-98.267100,1.0,NaN,10.0,0.0,100.0,100.0,15.0
111,19.035280,-98.267856,1.0,1.0,1.0,0.0,50.0,70.0,21.0
112,19.035451,-98.267862,1.0,3.0,2.0,0.0,0.0,0.0,18.0
113,19.035486,-98.267831,1.0,2.0,4.0,0.0,30.0,100.0,18.0
114,19.035399,-98.267924,1.0,0.0,3.0,0.0,NaN,NaN,18.0

In [102]:
#Corroboramos valores nulos y nos damos cuenta que nuevamente tenemos valores nulos por los outliers transformados que debremos llenar con algun método de valores nulos
valores_nulos=y.isnull().sum()
valores_nulos

_latitude                              0
_longitude                             0
238_frequency_buying_store             0
81_number_online_purchases_month       0
288_number_app_purchases_month         0
289_number_whatsapp_purchases_month    0
83_willingness_ultrafast_delivery      0
84_willingness_sameday_delivery        0
241_age_of_the_interviewee             0
dtype: int64

In [103]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
Costumer_Sin_Nulos_Numéricos2=y.copy()
Costumer_Sin_Nulos_Numéricos2=y.fillna(round(Costumer_Sin_Nulos_Numéricos2.mean(),1))
Costumer_Sin_Nulos_Numéricos2

,_latitude,_longitude,238_frequency_buying_store,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee
0,19.059841,-98.234980,1,1,0,0,0,0,35
1,19.058479,-98.233566,1,1,2,0,35,50,27
2,19.062077,-98.230339,1,0,0,0,40,25,42
3,19.055535,-98.232916,1,2,3,0,0,0,27
4,19.059012,-98.232994,1,2,5,0,0,50,35
...,...,...,...,...,...,...,...,...,...
110,19.035224,-98.267100,1,15,10,0,100,100,15
111,19.035280,-98.267856,1,1,1,0,50,70,21
112,19.035451,-98.267862,1,3,2,0,0,0,18
113,19.035486,-98.267831,1,2,4,0,30,100,18
114,19.035399,-98.267924,1,0,3,0,150,1000,18

In [104]:
#Corroboramos valores nulos donde vemos que ya todas las columnas numéricas nos dan 0
valores_nulos=Costumer_Sin_Nulos_Numéricos2.isnull().sum()
valores_nulos

_latitude                              0
_longitude                             0
238_frequency_buying_store             0
81_number_online_purchases_month       0
288_number_app_purchases_month         0
289_number_whatsapp_purchases_month    0
83_willingness_ultrafast_delivery      0
84_willingness_sameday_delivery        0
241_age_of_the_interviewee             0
dtype: int64

In [106]:
#Filtro por columnas para seleccionar del primer dataframe sin nulos las columnas con objetos y así poder unirlas con el numérico
Costumer_con_texto=Costumer_Sin_Nulos.iloc[ : , [0,1,2,3,4,7,8,9,10,11,13,14,15,16,17,18,19,20,21,22,23,24,25]]
Costumer_con_texto

,_record_id,_title,_server_updated_at,_updated_by,_geometry,282_payment_method_that_purchase,283_fulfill_needs,300_did_not_find,237_distance_household_interviewee,299_means_transportation_consumer,...,302_water_bill,306_water_bill_store,303_gas_bill,307_gas_bill_store,286_topups,308_topups_in_store,287_wire_transfers,309_wiretransfers_in_store,320_other_services_in_store,304_additional_services_store
0,060a856c-e3b8-41a7-b680-9756172d1c29,"November 12, 2022",2022-11-12 22:43:08 UTC,Ulises Núñez Bautista,SRID=4326;POINT(-98.2349802856 19.0598413203),Efectivo,no,agua de coco,0 a 3 cuadras,A pie,...,Sistema de agua,no,Proveedor de gas,no,No lo hago,no,Banco,no,no,NaN
1,c42fdf22-b93b-443e-8f46-6043613cb0c3,"November 12, 2022",2022-11-12 22:15:02 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2335660729 19.05847939),Efectivo,yes,agua de coco,7 a 10 cuadras,A pie,...,Sistema de agua,no,Proveedor de gas,no,Tienda de conveniencia (e.g. OXXO),no,Banco,no,no,NaN
2,3ccaedc0-949e-4555-afad-b2e1d77c3219,"November 12, 2022",2022-11-12 22:15:02 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2303385023 19.0620767997),Efectivo,yes,agua de coco,más de 10 cuadras,Automóvil,...,Tienda de conveniencia (e.g. OXXO),yes,Proveedor de gas,yes,"Supermercado,Tienda de conveniencia (e.g. OXXO)",yes,Banco,no,no,NaN
3,91d8a240-af2c-451b-900f-3480f82e05db,"November 12, 2022",2022-11-12 20:41:38 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.2329163449 19.0555346049),Tarjeta de débito y/o crédito,yes,agua de coco,4 a 6 cuadras,Motocicleta,...,Supermercado,no,Proveedor de gas,no,No lo hago,no,Banco,no,no,NaN
4,3efefc56-bd45-4e4a-bf02-ab725e9fb41a,"November 12, 2022",2022-11-12 19:49:13 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.2329944224 19.0590117522),Efectivo,yes,agua de coco,más de 10 cuadras,Transporte público,...,Supermercado,no,Proveedor de gas,no,Supermercado,no,No lo hago,no,no,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,ee7ac407-4767-47b1-93b3-d7e09b49faec,"November 3, 2022",2022-11-03 20:15:32 UTC,Daniel Serrano,SRID=4326;POINT(-98.2671002671 19.0352236761),Efectivo,yes,Ablandador de agujas,20 min,Automóvil,...,No lo hago,no,No lo hago,no,No lo hago,no,No lo hago,no,no,Los anteriores mencionados
111,f65a8190-df80-440e-83bc-2639decfffd0,"November 3, 2022",2022-11-03 20:05:31 UTC,Daniel Serrano,SRID=4326;POINT(-98.2678556442 19.0352804088),Efectivo,yes,Ablandador de agujas,30 min,Transporte público,...,No lo hago,no,No lo hago,no,No lo hago,no,No lo hago,no,no,Los anteriores mencionados
112,70f42238-83b5-4a16-9f2e-a758efb8afb0,"November 3, 2022",2022-11-03 20:04:35 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678617 19.0354511),Efectivo,yes,Ablandador de agujas,0 a 3 cuadras,A pie,...,No lo hago,no,No lo hago,no,Tienda de conveniencia (e.g. OXXO),no,No lo hago,no,no,Los anteriores mencionados
113,e4727f46-797f-4344-b183-0deeed11750f,"November 3, 2022",2022-11-03 20:04:34 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678314 19.0354858),Efectivo,yes,Ablandador de agujas,más de 10 cuadras,Didi,...,No lo hago,no,No lo hago,no,Tienda de conveniencia (e.g. OXXO),no,No lo hago,no,no,Los anteriores mencionados
114,0a5616e1-62cd-4f28-a282-9b34db145752,"November 3, 2022",2022-11-03 19:58:24 UTC,Daniel Serrano,SRID=4326;POINT(-98.2679243758 19.0353989453),Efectivo,yes,Ablandador de agujas,4 a 6 cuadras,Transporte público,...,No lo hago,no,No lo hago,no,No lo hago,no,No lo hago,no,no,Los anteriores mencionados

In [107]:
#unimos la columnas numéricas con las de texto

Datos_completos_Costumer= pd.concat([Costumer_con_texto, Costumer_Sin_Nulos_Numéricos2], axis=1)
Datos_completos_Costumer

,_record_id,_title,_server_updated_at,_updated_by,_geometry,282_payment_method_that_purchase,283_fulfill_needs,300_did_not_find,237_distance_household_interviewee,299_means_transportation_consumer,...,304_additional_services_store,_latitude,_longitude,238_frequency_buying_store,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee
0,060a856c-e3b8-41a7-b680-9756172d1c29,"November 12, 2022",2022-11-12 22:43:08 UTC,Ulises Núñez Bautista,SRID=4326;POINT(-98.2349802856 19.0598413203),Efectivo,no,agua de coco,0 a 3 cuadras,A pie,...,NaN,19.059841,-98.234980,1,1,0,0,0,0,35
1,c42fdf22-b93b-443e-8f46-6043613cb0c3,"November 12, 2022",2022-11-12 22:15:02 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2335660729 19.05847939),Efectivo,yes,agua de coco,7 a 10 cuadras,A pie,...,NaN,19.058479,-98.233566,1,1,2,0,35,50,27
2,3ccaedc0-949e-4555-afad-b2e1d77c3219,"November 12, 2022",2022-11-12 22:15:02 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2303385023 19.0620767997),Efectivo,yes,agua de coco,más de 10 cuadras,Automóvil,...,NaN,19.062077,-98.230339,1,0,0,0,40,25,42
3,91d8a240-af2c-451b-900f-3480f82e05db,"November 12, 2022",2022-11-12 20:41:38 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.2329163449 19.0555346049),Tarjeta de débito y/o crédito,yes,agua de coco,4 a 6 cuadras,Motocicleta,...,NaN,19.055535,-98.232916,1,2,3,0,0,0,27
4,3efefc56-bd45-4e4a-bf02-ab725e9fb41a,"November 12, 2022",2022-11-12 19:49:13 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.2329944224 19.0590117522),Efectivo,yes,agua de coco,más de 10 cuadras,Transporte público,...,NaN,19.059012,-98.232994,1,2,5,0,0,50,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,ee7ac407-4767-47b1-93b3-d7e09b49faec,"November 3, 2022",2022-11-03 20:15:32 UTC,Daniel Serrano,SRID=4326;POINT(-98.2671002671 19.0352236761),Efectivo,yes,Ablandador de agujas,20 min,Automóvil,...,Los anteriores mencionados,19.035224,-98.267100,1,15,10,0,100,100,15
111,f65a8190-df80-440e-83bc-2639decfffd0,"November 3, 2022",2022-11-03 20:05:31 UTC,Daniel Serrano,SRID=4326;POINT(-98.2678556442 19.0352804088),Efectivo,yes,Ablandador de agujas,30 min,Transporte público,...,Los anteriores mencionados,19.035280,-98.267856,1,1,1,0,50,70,21
112,70f42238-83b5-4a16-9f2e-a758efb8afb0,"November 3, 2022",2022-11-03 20:04:35 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678617 19.0354511),Efectivo,yes,Ablandador de agujas,0 a 3 cuadras,A pie,...,Los anteriores mencionados,19.035451,-98.267862,1,3,2,0,0,0,18
113,e4727f46-797f-4344-b183-0deeed11750f,"November 3, 2022",2022-11-03 20:04:34 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678314 19.0354858),Efectivo,yes,Ablandador de agujas,más de 10 cuadras,Didi,...,Los anteriores mencionados,19.035486,-98.267831,1,2,4,0,30,100,18
114,0a5616e1-62cd-4f28-a282-9b34db145752,"November 3, 2022",2022-11-03 19:58:24 UTC,Daniel Serrano,SRID=4326;POINT(-98.2679243758 19.0353989453),Efectivo,yes,Ablandador de agujas,4 a 6 cuadras,Transporte público,...,Los anteriores mencionados,19.035399,-98.267924,1,0,3,0,150,1000,18

In [108]:
#Corroboramos valores nulos que nuevamente da 0
valores_nulos_Costumer=Datos_completos_Costumer.isnull().sum()
valores_nulos_Costumer

_record_id                              0
_title                                  0
_server_updated_at                      0
_updated_by                             0
_geometry                               0
282_payment_method_that_purchase        0
283_fulfill_needs                       0
300_did_not_find                        0
237_distance_household_interviewee      0
299_means_transportation_consumer       0
284_additional_products_store          19
301_electricity_bill                    0
305_electricity_bill_store              0
302_water_bill                          0
306_water_bill_store                    0
303_gas_bill                            0
307_gas_bill_store                      0
286_topups                              0
308_topups_in_store                     0
287_wire_transfers                      0
309_wiretransfers_in_store              0
320_other_services_in_store             0
304_additional_services_store           8
_latitude                               0
_longitude                              0
238_frequency_buying_store              0
81_number_online_purchases_month        0
288_number_app_purchases_month          0
289_number_whatsapp_purchases_month     0
83_willingness_ultrafast_delivery       0
84_willingness_sameday_delivery         0
241_age_of_the_interviewee              0
dtype: int64

In [109]:
#Convertir a Csv
Datos_completos_Costumer.to_csv("Datos_completos_Costumer.csv")

In [110]:
#Descargar archivo filtrado en csv
from google.colab import files
files.download("Datos_completos_Costumer.csv")